NODE_ENV='development'
PORT=3000

WINSTON_LOG_LEVEL='info'
WINSTON_LOG_PATH=logs

API_VERSION='v1'

STRIPE_PUBLISHABLE_KEY=your-publishable-key
STRIPE_SECRET_KEY=your-secret-key

DATABASE_HOST=your-db-host
DATABASE_PORT=5432
DATABASE_USER=your-db-user
DATABASE_PASSWORD=your-db-password
DATABASE_NAME=your-db-name
