NODE_ENV='development'
PORT=3000

WINSTON_LOG_LEVEL='info'
WINSTON_LOG_PATH=logs

API_BASE_URL=http://localhost:3000
API_VERSION='v1'

SAIA_API_KEY=your-3dlook-api-key

SUPABASE_URL=your-supabase-url
SUPABASE_KEY=your-supabase-key

STRIPE_PUBLISHABLE_KEY=your-publishable-key
STRIPE_SECRET_KEY=your-secret-key
STRIPE_WEBHOOK_SECRET=your-webhook-secret

DATABASE_HOST=your-db-host
DATABASE_PORT=5432
DATABASE_USER=your-db-user
DATABASE_PASSWORD=your-db-password
DATABASE_NAME=your-db-name

MOCK_3DLOOK=true

APP_TOKEN=frontend-token

TEMPLATE_FILE='order.xlsx'
